.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title{
  display: flex;
  align-items: center;
}
.title h1{
  color: #bf0603;
}

.title img{
  width: 40px;
  padding: 5px;
}

.search input{
  background-color: #8d0801;
  padding: 6px 50px;

  border: none;
  border-radius: 7px;
  cursor: pointer;

  color: rgb(253, 253, 253);
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.search input::placeholder{
  color: rgb(255, 255, 255);
}

.search button{
  display: inline-block;
  padding: 6px;
  margin-left: .5em;
  border: none;
  background-color: #bf0603;
  border-radius: 7px;

  font-weight: bold;
  font-size: 1em;
  color: #fff;
  cursor: pointer;

}

.search button:hover {
  background-color: #8d0801;
  transition: all .5s;
}

.buttons button{
  display: inline-block;
  margin-right: 1em;
  border: none;
  border-radius: 7px;

  font-weight: bold;
  font-size: 1.1em;
  color: #8d0801;
  cursor: pointer;

}

.buttons button:hover{
  color: #bf0603;
}