@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
}

.containerPrincipal{
  display: flex;
  flex-direction: row;
}

.containerOne{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 767px;
}

.first{
  /* color: #415a77; */
  color: #212529;
  background-color: transparent;

  font-size: 2.5em;
  font-weight: 400;

  position: absolute;
  left: 50px;
  top: 150px;
}

.second{
  /* color: #1b263b; */
  color: #bf0603;
  background-color: transparent;
  
  font-size: 4em;
  font-weight: 500;

  position: absolute;
  top: 230px;
}

.three{
  /* color: #415a77; */
  color: #212529;
  background-color: transparent;
  
  margin: 50px;
  line-height: 1;
  font-size: 2.2em;
  font-weight: 400;

  position: absolute;
  top: 350px;
}

.three span{
  /* color: #1b263b; */
  color: #bf0603;
  background-color: transparent;
  font-weight: 500;
}


.containerTwo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 767px;
}

.containerImage{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.containerImage img{
  width: 100%;
  height: 100%;
}

.buttonStart {
  position: absolute;
  top: 670px;
  right: 17%;

  background-color: #bf0603;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 100px;
  border-radius: 20px;

  border: none;
}

.buttonStart:hover {
  background-color: #8d0801;
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
